<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Minimal Django File Upload Example</title>	
	</head>

	<body>
		<!-- List of uploaded documents -->
		{% if documents %}
			<ul>
			{% for document in documents %}
				<li><a href="{{ document.docfile.url }}">{{ document.docfile.name }}</a></li>
			{% endfor %}
			</ul>
		{% else %}
			<p>No documents.</p>
		{% endif %}

		<!-- Upload form. Note enctype attribute! -->
		<form action="{% url "list" %}" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<p>{{ form.non_field_errors }}</p>
			<p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
			<p>
				{{ form.docfile.errors }}
				{{ form.docfile }}
			</p>
			<p><input type="submit" value="Upload" /></p>
		</form>

		{$ if has_table %}
		<table border = "1" align = "center">
			<tr>
				<td></td>
				{% for col in schema_list|dictsort:"col" %}
					<td>
						<b> {{ col.value }} </b>
					</td>
				{% endfor %}
			</tr>

			{% for row in row_list|dictsort:"row" %}
				<tr>
					<td>
						{{ row.row }}
					</td>
					{% for col in row.cell|dictsort:"col" %}
					
						<td class = "cell" id = "{{ table_id }}_{{ row.row }}_{{ col.col }}">
								{{ col.value }}
						</td>
					{% endfor %}
				</tr>
			{% endfor %}
		</table>
		{% endif %}

	</body>

</html> 
